<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<script th:src="@{https://unpkg.com/axios/dist/axios.min.js}"></script>
<head>
    <meta charset="utf-8">
    <title>login</title>
    <link rel="stylesheet" href="https://unpkg.com/mvp.css@1.12/mvp.css">
</head>

<body>
<form id="uploadForm" action="/createPost" method="post" enctype="multipart/form-data">

    <div>
        <label for="title">제목:</label>
        <input type="text" id="title" name="title" placeholder="제목">
    </div>

    <div>
        <label for="description">내용상세:</label>
        <input type="text" id="description" name="description" placeholder="게시글 내용을 작성해주세요.">
    </div>

    <div>
        <label for="price">가격</label>
        <input type="number" id="price" name="price" placeholder="가격을 입력해주세요.">
    </div>

    <div>
        <div>거래 방식</div>
        <select id="transactionType" name="transactionType" class="form-select">
            <option value="">==거래 방식 선택==</option>
            <option th:each="transactionType : ${transactionTypes}" th:value="${transactionType.name()}"
                    th:text="${transactionType.description}"></option>
        </select>
    </div>
    <div>
        <div>카테고리</div>
        <select id="category" name="category" class="form-select">
            <option value="">==카테고리 선택==</option>
            <option th:each="category : ${categories}" th:value="${category.name()}"
                    th:text="${category.description}"></option>
        </select>
    </div>
    <div>
        <label for="files">파일 선택:</label>
        <input type="file" id="files" name="files" multiple/>
    </div>
    <div>
        <button type="button" onclick="uploadPost()">작성 완료</button>
    </div>
</form>

<script>
    function uploadPost() {
        const formData = new FormData(document.getElementById('uploadForm'));

        const headers = {
            'Authorization': localStorage.getItem('token'),
            'Content-Type': "multipart/form-data"
        }

        axios.post('/api/v1/posts', formData, {headers : headers})
            .then(function (response) {
                const id = response.data.id;
                window.location.href = `http://localhost:8080/posts/${id}`;
            })
            .catch(function (error) {
                alert("오류가 발생했습니다. \n" + error.response.data);
                console.log(error);
            });
    }
</script>
</body>
</html>
